Source: obs
Section: web
Priority: optional
Maintainer: Mohammed Sameer <msameer@foolab.org>
Build-Depends: debhelper (>= 9), quilt
Build-Depends-Indep: python
Standards-Version: 3.9.6

Package: obs-common
Architecture: all
Section: utils
Depends: ${misc:Depends},
         libtimedate-perl,
	 ${perl:Depends},
         libxml-structured-perl,
         libxml-parser-perl
Description: common OBS files
 This package contains common files needed to run OBS tools.

Package: obs-build-tools
Architecture: all
Section: utils
Conflicts: obs-build
Depends: ${misc:Depends},
         libtimedate-perl,
	 ${perl:Depends},
         obs-common,
         binutils,
	 xz-utils
Recommends: lxc,
	    bsdtar,
	    qemu-user-static,
	    binfmt-support
Description: build code for OBS
 This package contains the build code needed for OBS workers

Package: obs-worker
Architecture: all
Section: utils
Depends: obs-build-tools (= ${binary:Version}),
         ${misc:Depends},
         libxml-sax-perl,
	 ${perl:Depends},
	 daemon,
	 obs-common
Description: worker code for OBS
 This package contains the worker code for OBS workers

Package: obs-server
Architecture: all
Section: utils
Depends: obs-build-tools (= ${binary:Version}),
         ${misc:Depends},
	 ${perl:Depends},
	 libxml-simple-perl,
	 libxml-parser-perl,
	 daemon,
         obs-common
Description: backend tools for OBS server
 This package contains the backend tools needed to run OBS.

Package: obs-service-tar-scm
Architecture: all
Depends: ${misc:Depends},
	 ${python:Depends},
	 python-dateutil
Recommends: bzr,
	    git,
	    mercurial,
	    subversion
Description: An OBS source service: fetches SCM tarballs
 This is a source service for openSUSE Build Service.
 It supports downloading from svn, git, hg and bzr repositories.

Package: obs-service-tar-git
Architecture: all
Depends: ${misc:Depends},
	 git
Description: OBS source service to generate sources from git
 This package provides the service to generate source from git
 inside an OBS source service

Package: obs-service-git-dsc
Architecture: all
Depends: ${misc:Depends},
	 python,
	 git,
	 devscripts
Description: OBS source service to debian dsc files from git
 This package provides an OBS service to generate debian source
 files from git

Package: obs-build-initvm-static
Architecture: any
Depends: ${misc:Depends}
Description: OBS initvm tool
 This package initvm
