Source: obs
Section: web
Priority: optional
Maintainer: Mohammed Sameer <msameer@foolab.org>
Build-Depends: debhelper (>= 9), quilt
Standards-Version: 3.9.6

Package: obs-common
Architecture: all
Section: utils
Depends: ${misc:Depends},
         libtimedate-perl,
	 ${perl:Depends},
         libxml-structured-perl,
         libxml-parser-perl
Description: common OBS files
 This package contains common files needed to run OBS tools.

Package: obs-build
Architecture: all
Section: utils
Depends: ${misc:Depends},
         libtimedate-perl,
	 ${perl:Depends},
         obs-common,
         binutils,
	 xz-utils
Recommends: lxc, bsdtar
Description: build code for OBS
 This package contains the build code needed for OBS workers

Package: obs-worker
Architecture: all
Section: utils
Depends: obs-build (= ${binary:Version}),
         ${misc:Depends},
         libxml-sax-perl,
	 ${perl:Depends},
	 obs-common
Description: worker code for OBS
 This package contains the worker code for OBS workers

Package: obs-server
Architecture: all
Section: utils
Depends: obs-build (= ${binary:Version}),
         ${misc:Depends},
	 ${perl:Depends},
	 libxml-simple-perl,
	 daemon,
         obs-common
Description: backend tools for OBS server
 This package contains the backend tools needed to run OBS.
