Source: obs
Section: web
Priority: optional
Maintainer: Mohammed Sameer <msameer@foolab.org>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.6

Package: obs-build
Architecture: all
Section: utils
Depends: ${misc:Depends},
         libtimedate-perl,
	 ${perl:Depends}
Description: OBS build
 OBS build backend

Package: obs-worker
Architecture: all
Section: utils
Depends: obs-build (= ${binary:Version}),
         ${misc:Depends},
         libxml-sax-perl,
	 ${perl:Depends}
Description: OBS worker
 OBS worker backend

Package: obs-server
Architecture: all
Section: utils
Depends: obs-build (= ${binary:Version}),
         ${misc:Depends},
	 ${perl:Depends},
	 daemon
Description: OBS server
 OBS server backend
