#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	make -C open-build-service/src/backend/ DESTDIR=$(CURDIR)/debian/tmp/ install
	mkdir -p debian/tmp/etc/obs-server/
	mv debian/tmp/usr/lib/obs/server/BSConfig.pm debian/tmp/etc/obs-server/
	rm -fr debian/tmp/usr/lib/obs/server/worker-deltagen.spec
	# Just in case:
	rm -rf debian/tmp/usr/lib/obs/server/build/.git
	dh_install --fail-missing
