#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

INITVM_ARCH=$(shell bash -c '. open-build-service/src/backend/build/common_functions ; build_host_arch; echo $$BUILD_INITVM_ARCH')

%:
	dh $@ --with quilt

override_dh_auto_build:
	make -C open-build-service/src/backend/build initvm CFLAGS=-DDEBUG

override_dh_install:
	# Now the rest
	make -C open-build-service/src/backend/ OBS_BACKEND_PREFIX=/usr/lib/obs/ DESTDIR=$(CURDIR)/debian/tmp/ install
	mkdir -p debian/tmp/etc/obs/
	mv debian/tmp/usr/lib/obs/BSConfig.pm debian/tmp/etc/obs/
	rm -rf debian/tmp/usr/lib/obs/build/test/
	rm -rf debian/tmp/usr/lib/obs/build/test-debtransform/
	rm -rf debian/tmp/usr/lib/obs/build/t/
	rm -rf debian/tmp/usr/lib/obs/worker-deltagen.spec
	rm -rf debian/tmp/usr/lib/obs/XML/Structured.pm
	rm -rf debian/tmp/usr/lib/obs/worker/
	rm -rf debian/tmp/usr/lib/obs/build/Makefile
	rm -rf debian/tmp/usr/lib/obs/build/unrpm.1
	rm -rf debian/tmp/usr/lib/obs/build/vc.1
	rm -rf debian/tmp/usr/lib/obs/build/build.1
	# Just in case:
	rm -rf debian/tmp/usr/lib/obs/build/.git
	# I have no idea why this is not done correctly:
	rm -rf debian/tmp/usr/lib/obs/build/build
	cp open-build-service/src/backend/build/build debian/tmp/usr/lib/obs/build/build
	chmod +x debian/tmp/usr/lib/obs/build/build

	cp debian/chroot debian/tmp/usr/lib/obs/build/

	# Now tar_scm service
	make -C obs-service-tar_scm DESTDIR=$(CURDIR)/debian/tmp/ PREFIX=/usr install

	# git_tar service
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/obs/service/
	mkdir -p $(CURDIR)/debian/tmp/etc/obs/services/
	cp -a boss-launcher-webhook/src/service/tar_git $(CURDIR)/debian/tmp/usr/lib/obs/service/
	cp -a boss-launcher-webhook/src/service/tar_git.service $(CURDIR)/debian/tmp/usr/lib/obs/service/
	cp debian/tar_git $(CURDIR)/debian/tmp/etc/obs/services/

	# git_dsc
	cp -a git_dsc/git_dsc $(CURDIR)/debian/tmp/usr/lib/obs/service/
	cp -a git_dsc/git_dsc.service $(CURDIR)/debian/tmp/usr/lib/obs/service/
	cp -a git_dsc/git_dsc.rc $(CURDIR)/debian/tmp/etc/obs/services/git_dsc

	dh_install --fail-missing

override_dh_clean:
	rm -rf open-build-service/src/backend/build/initvm.$(INITVM_ARCH)
	dh_clean
